<main class="content">
  <div class="container">
    <div class="time">
      <span class="time__value">{{currentTime}}</span>
    </div>
    <div class="actions">
      <button class="start">Start</button>
      <button class="stop">Stop</button>
      <button class="reset">Reset</button>
      <button class="fifteen">15m</button>
      <button class="twentyfive">25m</button>
      <button class="fifty">50m</button>
    </div>
  </div>
</main>
